.Introduction {
  padding: 0 100px;
  margin-bottom: 350px;
}

.Heading {
  margin-bottom: 15px;
}

.Description {
  margin-top: 30px;
  max-width: 500px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: rgb(204, 214, 246);
}

@media (max-width: 702px) {
  .Introduction {
    margin-bottom: 200px;
    padding: 0 50px;
  }
}
