.SocialLinks {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 30px;
  color: #7fffd4;
  padding: 15px 20px 0 20px;
  opacity: 0.8;
}

.SocialLinks > ul > li {
  list-style-type: none;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.SocialLinks > ul > li > a {
  text-decoration: none;
  color: rgb(204, 214, 246);
}

.SocialLinks ul::after {
  content: '';
  display: block;
  width: 1px;
  height: 140px;
  background-color: rgb(168, 178, 209);
  margin: 0px auto;
}

@media (max-width: 702px) {
  .SocialLinks {
    display: none;
  }
}
