.SelectList {
  display: inline-block;
  margin-block-start: 0;
  vertical-align: top;
}

.SelectList li {
  list-style-type: none;
  cursor: pointer;
  color: rgb(204, 214, 246) rgb(204, 214, 246);
  padding: 14px;
}

.SelectList li:hover,
.SelectList li.Active {
  background-color: rgba(127, 255, 212, 0.09);
  color: #7fffd4;
}
