.Experience {
  padding: 150px 0 0 100px;
  color: rgb(204, 214, 246);
}

.Heading {
  color: #fff;
}

.Description {
  margin-top: 30px;
  max-width: 500px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media (max-width: 702px) {
  .Experience {
    padding: 0 50px;
  }
}
