.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: column;
  font-size: 0.9rem;
  display: inline-flex;
}

.Number {
  color: #7fffd4;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
}
